
#leave-background {
    background-image: url(/static/leave_background.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    margin-top: 5%;
  }

  h1 {
    display: block;
    font-size: 50px;
    line-height: 50px;
    color: #555555;
    margin: 2%;
    text-align: center;
}
