
html{
    background-color: rgb(14, 21, 34);
}

.box-wrap{
    background-color:  #004840;
}

.player-name{
    position: absolute;
    top: 10px;
    left: 10px;
    height:15%;
    font-size:30px;
    font-family: 'Lobster', cursive;
    margin:0;
    color:whitesmoke;
}

#start-msg{
    font-family: 'Lobster', cursive;
    font-size:50px;
    position:absolute;
    top:44%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    color: #daa520;
    z-index: 999;
}

.win-msg{
    font-family: 'Lobster', cursive;
    font-size:30px;
    position:absolute;
    top: 10px;
    left: 50%;
    color:#daa520;
    margin:0;
    height:15%;
    z-index: -1;
}

.game-canvas{
    /* width:450px;
    height:300px; */
    /* vertical-align: middle;
    width:50%;
    object-fit: fill;
    background-color: 'yellow'; */
    /* float: left; */
    position: absolute;
    top:15%;
    /*
    bottom: 10%;
    display: inline-block;*/
    margin: 0 auto;
    height:85%;
    width:100%;
    /* background-color: #f6fbff; */
    max-height:85%;
    max-width: 100%;
    z-index:1;
    /* transform:scaleX(-1); */
}


#alart_img{
    position:absolute;
    top:0%;
    left:0%;
    opacity:0.5;
    width:50%;
    height:45%;
    z-index: 2;
    visibility:hidden;
}

#skill_trigger{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    
}

/*.switch-on{
    display: inline-block;
    height:30px;
    color: red;
    font-size:30px;
    font-weight: bold;
    visibility: visible;
}
.switch-off{
    display: inline-block;
    height:30px;
    visibility: hidden;
}*/
.ink-canvas{
    position: absolute;
    top:15%;
    margin: 0 auto;
    height:85%;
    width:100%;
    max-height:85%;
    max-width: 100%;
    z-index:4;
}

.ink-only-canvas{
    position: absolute;
    top:15%;
    margin: 0 auto;
    height:85%;
    width:100%;
    max-height:85%;
    max-width: 100%;
    z-index:5;
}

#mmd-model{
    position:absolute;
    top:55%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 9999;
}

#ink-button {
    /* display: table-cell;
    */
    width: 100px;
    padding: 8px 24px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    background-image: linear-gradient(-90deg, #FF006E,#FFD500);
    transition: .5s;
    background-size: 200%;
    z-index: 9999;
    align-items: center;
    display: inline-block;
    margin: auto 10px;
    margin-left: 20px;
}
  
#ink-button:hover {
    background-position: right center;
}

#handpose-button {
    width: 120px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
    background-image: linear-gradient(-90deg, #6b6b6b, rgb(190, 190, 190));
    transition: .5s;
    background-size: 200%;
    z-index: 9999;
    align-items: center;
    display: inline-block;
    margin: auto 10px;
}

#handpose-button:hover {
    background-position: right center;
}

#skill-msg{
    font-family: 'Lobster', cursive;
    font-size:20px;
    /* width:30%; */
    color: #daa520;
    z-index: 3;
    /* margin: 10px; */
    /* position:relative;
        */
        align-items: center;
        display: inline-block;
        margin: auto 10px;
}

.button-bar{
    /* position: relative;
    float:left; */
    width: 100%;
    background-color: rgb(14, 21, 34);
    /* margin: 0 auto; */
    height: 10%;
    display: flex;
}

#room-id-msg{
    margin: auto 10px;
    font-family: 'Lobster', cursive;
    font-size:20px;
    color: white;
    z-index: 3;
    display: inline-block;
    align-items: center;
}

#leave-button{
    width: 90px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    background-image: linear-gradient(-90deg, #bd1960,#FF006E);
    background-size: 200%;
    z-index: 9999;
    align-items: center;
    margin: auto 10px;

  }